{% extends "base.html" %}
{% block title %}Selwyn Event Ticketing - Event Customer List{% endblock %}
{% block content %}
<div class="container mt-4">
    <h2>Customers for {{ event.event_name }} ({{ event.event_date.strftime('%d/%m/%Y') }})</h2>

    {# Flash messages are being handled dynamically in base.html #}

    {% if customers %}
    <table class="table table-bordered table-striped mt-3">
        <thead>
            <tr>
                <th>Customer Name</th> 
                <th>Date Of Birth</th>
                <th>Email</th>
                <th>Tickets Bought</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for customer in customers %}
            <tr>
                <td><a href="{{ url_for('customerticketsummary', customer_id=customer.customer_id) }}">{{ customer.full_name }}</a></td>
                <td>{{ customer.date_of_birth.strftime('%d/%m/%Y') }}</td>
                <td>{{ customer['email'] }}</td>
                <td>{{ customer.ticket_quantity }}</td>
                <td>
                    <a href="{{ url_for('editcustomer', customer_id=customer['customer_id']) }}" class="btn btn-primary btn-sm">Edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>No customers have purchased tickets for this event.</p>
    {% endif %}
    <a href="{{ url_for('events') }}" class="btn btn-secondary mt-3">Back to Events</a>
</div>
{% endblock %}