{% extends "base.html" %}

{% block title %}Selwyn Event Ticketing - Home {% endblock %}

{% block content %}
<div class="container align-middle">
    <h1 class="text-center">Kia Ora</h1>
    <h2 class="text-center">Welcome to Selwyn Ticket Manageement System</h2>
    <p class="text-center">The best stop to book your tickets of any event.</p>
    <img class="rounded mx-auto d-block" src="{{ url_for('static', filename='ticket.jpg') }}" alt="Selwyn Event Ticketing Logo" style="max-width: 50%;">
</div>

{% endblock %}